
# Node
node_modules/

# Expo
.expo/
.expo-shared/
package-lock.json

# Google services
google-services.json

# Firebase / Google private credentials
*-firebase-adminsdk-*.json

# iOS build
ios/Pods/
ios/Build/
ios/DerivedData/
*.xcworkspace/contents.xcuserstate
*.xcuserstate

# Android build
android/.gradle/
android/build/

# Environment
expo-env.d.ts
.env
README.md