@import "tailwindcss";
p {
    font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
.scrollbar-hide {
-ms-overflow-style: none;
scrollbar-width: none; 
}

label {
    font-family: Arial, Helvetica, sans-serif;
}
.placeholder-style::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    opacity: 0.5;
}
.text-outline-white {
  -webkit-text-stroke: 1.5px white;
  color: transparent;
}

/* container cards */
.help-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.25rem; /* p-5 */
  border-radius: 30px;
}

.help-card--bg {
  background-color: #e5e7eb; /* gray-200 */
}

/* text */
.help-title {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.15em; /* tracking-widest */
}

.help-text {
  font-size: 11px;
  letter-spacing: 0.05em; /* tracking-wider */
  color: #4b5563; /* gray-600 */
}

.help-text--spaced {
  margin-top: 0.5rem; /* mt-2 */
}

.glass {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(60px) saturate(200%);
  -webkit-backdrop-filter: blur(60px) saturate(200%);


  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.35),
    0 20px 50px rgba(0,0,0,0.35);

  position: relative;
  overflow: hidden;
}

.glass::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0.35),
    rgba(255,255,255,0.1) 40%,
    transparent 100%
  );
  pointer-events: none;
}

.scramble {
  font-family: monospace;
  letter-spacing: 0.1em;
}


