@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
  
.scrollbar-hide {
-ms-overflow-style: none;  
scrollbar-width: none;  
}

.section {
  @apply w-full h-full items-center justify-center flex;
}
.next-button {
    @apply flex w-10 h-10  items-center justify-center tracking-widest cursor-pointer;
}
.section-info-question {
    @apply font-light tracking-widest text-[15px] text-center italic opacity-50;
}
.ingredient-button {
    @apply items-center justify-center cursor-pointer ;
}

.next-section-button {
    @apply flex w-10 h-10  items-center justify-center tracking-widest cursor-pointer;
}
